.feedback {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 20px;
  border: 2px solid #666;
  border-radius: 20px;

  @media (min-width: 1440px) {
    width: 570px;
  }
}

.options,
.stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.caption {
  font-size: 18px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.value {
  font-weight: bold;
  font-size: 20px;
}
